@charset="utf-8";
.about{ 
    width: 1150px;
    float: right;
    margin: auto;
    padding: 50px 0;
    margin-top: 50px;
}
.about p,.about span{
	font-family: "YoonMinguk";
    font-size: 20px;
}
.blue{
    color: #004FFF;
	font-family: "YoonMinguk";
    font-weight: bold;
}
/*title*/
.title{
    margin-bottom: 30px;
} 
.title p{
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
} 
.title .blue{
    display: inline-block;
    color: #fff;
    background-color: #004FFF;
    text-align: right;
    width: 150px;
    margin-left: -50px;
    border-radius: 0;
    padding: 10px;
}
/*profile*/
.profile{
    margin: auto;
    display: block;
    width: 100%;
}


/*charactor*/
.charactor{
    width: 30%;
    display: inline-block;
    margin: 0 50px;
    float: left;
}
.charactor img{
    width: 100%;
}
/*profile-txt*/
.profile-txt{
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 110px;
}
.txt-top span,.txt-bottom span{
    display: block;
    padding: 5px;
}
.txt-top{
    margin-bottom: 30px;
    display: inline-block;
}
/*skill*/
.skill{
    width: 100%;
    padding-left: 100px;
    margin: auto;
    margin-top: 50px;
}
.skill>p{
    text-align: center;
    width: 850px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-right: 70px;
}
.progressbar-text{
    display: none;
}

 .progress{
     width: 160px; 
     height: 100px;
}
.section{
    display: inline-block;
    position: relative;
    margin: 40px 20px;
}
.section-top,
.section-bottom{
    display: inline-block;
    margin-left: 80px;
    
}
.section #pro1 svg,
.section #pro2 svg,
.section #pro3 svg,
.section #pro4 svg,
.section #pro5 svg,
.section #pro6  svg{
    border: 2px solid #5B5B5B;
    border-radius: 100%;
}
.section p{
    position: absolute;
    color: #0a00ff;
    width: 125px;        
    height: 125px;
    line-height: 110px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #5B5B5B;
    border-radius: 100%;
    text-align: center;
    top:17px; left: 17px;
}
.txt-middle{
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-bottom: 40px;
}
.resume{
    border: 2px solid #004FFF;
    width: 200px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    color: #004FFF;
    border-radius: 10px;
    transition: 0.2s;
    animation: motion 0.7s linear 0s infinite alternate;
} 
.resume a{
    padding: 12px 32px;
    border-radius: 10px;
    font-size: 18px;
	font-family: "YoonMingukR";
}
.resume:hover{
    background-color: #004FFF;
    color: #fff;
    
}

@keyframes motion {
	0% {margin-top: -20px;}
	100% {margin-top: -30px;}
}
/*//////미디어쿼리///// /////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:1420px){
    .about{ 
    width: 82%;
}
    
}
@media screen and (max-width:1280px){
    .about{ 
    width: 100%;
}
    .title{
    margin-bottom: 30px;
        text-align: center;
}
    .title-bg{
        text-align: center;
        margin: auto;
        width: 310px;
        padding: 0 10px;
        border-bottom: 3px solid #004FFF;
    }
    .title p{
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
}
    .about .title .blue{
    display: inline-block;
    color: #004FFF;
    background-color: transparent;
    text-align: left;
    width: 80px;
    margin-left: 0px;
    border-radius: 0;
    padding: 10px 0;
}
    .charactor{
    width: 35%;
    display: block;
    margin: 0 auto;
    float: inherit;
}
    .profile-txt{
    float: inherit;
    width: 70%;
    margin-left: 0;
    margin-top: 0;
    margin: auto;
    
}
    .txt-top span{
    display: inline-block;
    padding: 5px;
}
    .txt-top{
    text-align: center;
        display: block;
        margin-bottom: 15px;
}
    .txt-bottom{
        width: 100%;
        text-align: center;
    }
    .txt-bottom span{
        font-size: 18px;
    }
    .skill{
        width: 100%;
        text-align: center;
    padding-left: 0px;
}
    .skill>p{
    width: 100%;
    margin:20px auto;
    font-size: 25px;
    padding: 0;
}
    .section-top,
    .section-bottom{
    margin-left: 0px;
    
}
    .progress{
    margin: 35px 10px;
}
    .section{
    padding: 0px;
    margin: 0px;
}

    .txt-middle{
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
        margin-bottom: 20px;
}
.resume{
    margin: 0 auto;
    animation: 0;
} 
}

@media screen and (max-width:640px){
    .about{
        margin-top: 30px;
    }
    .txt-top span,.txt-bottom span{
    display: block;
    padding: 5px;
}
    .profile-txt{
    width: 100%;
}
    .charactor{
    width: 40%;
}
    .txt-bottom{
        width: 100%;
    
        text-align: center;
            
    }
    .txt-bottom span{
        font-size: 15px;
    }
    .progress{
     width: 100px; 
     height: 100px; 
}
    .section{
    padding: 0px;
    margin:-25px -5px;
}
    .section p{
    width: 76px;        
    height: 76px;
    line-height: 70px;
    font-size: 25px;
    top: 12px;
    left: 12px;
} 
.resume{
    height: 50px;
    line-height: 45px;
}
.resume a{
    padding: 8px 40px;
    font-size: 16px;
}
}