@charset "utf-8";

@font-face {font-family: "YoonMingukB";src: url("../font/YoonMingukB.ttf")}

@font-face {font-family: "YoonMingukR";src: url("../font/YoonMingukB.ttf")}

* {box-sizing: border-box; font-family: "YoonMingukR";}

section {width: 1400px;margin: auto;}

/*/////////////////////////////////////////////////////////////////////////////////////////헤더/////////////////////////////////////////*/
header {z-index: 10000000000; text-align: center;position: fixed; width: 100%;}
.header-wrap{margin: auto;}

/*bar-btn*/
.bar-btn {display: none;}

/*h1*/
h1 {width: 100px;padding: 15px;}

h1 a {width: 100%;height: 100%;display: block;}

h1 a img {width: 100%;}

/*nav*/
nav ul{display: flex;}
nav ul li {padding: 15px;font-size: 1vw;}

nav ul li a {border-bottom: 3px solid transparent;transition: 0.2s;}

/*hover*/
nav ul li a.one {border-bottom: 3px solid #fff;}

nav ul li:hover a {border-bottom: 3px solid #fff;}

.nav-wrap {display: none;}


/* 웹 / 모바일 네비 뗌 */
.web_nav{display: flex;align-items: center; justify-content: space-between; padding: 0 20px;}

/*/////////////////////////////////////////////////////////////////////////////////푸터/////////////////////////////////////////4A8BFF*/
footer{display: flex; align-items: center; height: 100vh; justify-content: center; position: relative; padding: 0 20px; word-break: keep-all;}
footer .contact{margin-bottom: 50px;}
footer h3{background-color: #fff; color: #212d42; font-size: 2.8vw;font-weight: 700; display: inline-block; padding-left: 130px; margin-left: -100px;}
footer b{display: block; font-size: 2.8vw; line-height: 1.5; font-weight: 700; color: #fff; padding: 15px 0;}
footer .contact p{font-size: 30px; line-height: 1.2;}
footer .contact a{padding: 15px 20px;color: #c9d5ea; background-color: #212d42; display: inline-block; margin-top: 30px; transition: 0.3s;}
footer .contact a:hover{color:#fff;}

footer > p{width: 100%; padding: 20px; background-color: #212d42; text-align: center; position: absolute; bottom: 0; left: 0;}



/*스크롤설정*/
::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #212d42;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #050d1c;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 10px;
    height: 10px;
    background-color: #212d42;
}

/*//////////////////////미디어쿼리//////////////////////////*/
@media screen and (max-width:1400px) {
    /*    ////헤더////*/
    section {width: 100%;}
    .header-wrap{width: 100%;}
    nav ul li{font-size: 15px;}

    footer b {font-size: 5vw;}
    footer .contact p {font-size: 25px;}

}

/*1420*/
@media screen and (max-width:1280px) {
    /*    ////헤더////*/
    h1 {width: 80px;}
    footer h3{font-size: 20px;padding: 10px; padding-left: 130px;}
    ::-webkit-scrollbar {display: none;}
}

/*1280*/

@media screen and (max-width:640px) {

    /*    ////헤더////*/
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        left: 0;
    }


    .bar-btn {
        display: inherit;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;

    }

    .bar-btn > div {
        width: 35px;
        height: 4px;
        background-color: #c9d5ea;
        margin: 4px 0;
        border-radius: 10px;
        transition: 0.2s;
    }

    .bar-btn > div.on {background-color: #fff;}
    .bar-btn > div.on:nth-child(1) {
        transform: rotate(45deg) translateY(11px); 
    }

    .bar-btn > div.on:nth-child(2) {
        opacity: 0;
    }

    .bar-btn > div.on:nth-child(3) {
        transform: rotate(-45deg) translateY(-12px);
    }
    nav{position: fixed;right: -100%; transition: 0.3s; padding-top: 70px; top: 0; background-color: rgb(5 13 28 / 80%); padding-bottom: 10px;}
    nav ul li a.one,
    nav ul li:hover a {border-bottom: 2px solid #fff;}
    nav.slide { right: 0;} 
    nav ul{flex-direction: column; padding: 0 10px;}
    .web_nav{height: 100%;}
    .nav-wrap {
        display: inherit;
        width: 100%;
        height: 70px;
        background-color: #fff;
        position: relative;
        z-index: 100;
        border-bottom: 3px solid rgba(0, 0, 0, 0.11);
    }
    
    footer .contact p {font-size: 4.5vw;}


    ::-webkit-scrollbar {
        display: inherit;
        width: 5px;
    }


}

/*740*/
