@charset="utf-8";
.mouse{
    border-radius: 4px;
    position:absolute;
    left:0; 
    top: 0; 
    border: 2px solid #004FFF;
    z-index: 1000000000000000000;
    background-color: #FFF;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font-family: "YoonMinguk";
    font-weight: bold;
    color: #004FFF;
    display: none;
} 
.portfolio{ 
    width: 1150px;
    float: right;
    margin: auto;
    padding: 50px 0;
    margin-top: 100px;
}
.web-content{
    font-size: 0;
    margin-left: 120px;
}
.portfolio .content{
    width: 38%;
    margin: 0.3%;
    border: 2px solid #004FFF;
    background-color: #004FFF;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}
/*/////////썸네일//////////*/
.web-content .content img{
    width: 100%;
    padding: 2px;
    transition: 0.4s;
}
.web-content .content img.second{
    opacity: 0.7
}
.web-content .content img.first{
    position: absolute;
    z-index: 10000;
}
.web-content .content img:hover{
    opacity: 0;
} 
/*/////////////////////모달창///////////////////////////*/
.pf-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;height: 100%;
    background-color: rgba(159, 161, 178, 0.87);
    z-index: 10000000000000;
    text-align: center;
}
.pf-modal i{
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 30px;
}
.modal-content{
    margin-top: 20px;
    width: 60%;
    height: 85%;
    background-color: transparent;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}
.modal-content p{
    font-size: 20px;
    color: #fff;
    background-color: #000;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 60px;
/*    z-index: 1;*/
    top: 0;
}
.pf-modal .modal-content img{
    width: 100%;
}
.pf-modal .modal-content::-webkit-scrollbar{
            display: inherit;
        }
.detail{position: relative;}
.btn {
    position: absolute;
    top: 14.5%;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
}
.pf-modal:nth-child(3) .btn{
    top: 9.6%;
}
.pf-modal:nth-child(6) .btn{
    top: 11.2%;
}
.pf-modal:nth-child(8) .modal-content{
    width: 40%;
    height: 80%;
}

.pf-modal:nth-child(8) .modal-content::-webkit-scrollbar{
            display: none;
        }
/*/////////////////////////////////////////////////////////////미디어쿼리////////////////////////*/
@media screen and (max-width:1420px){
    .portfolio{ 
    width: 82%;
}
}
@media screen and (max-width:1280px){
        .portfolio{ 
    width: 100%;
            text-align: center;
} 
.portfolio .title .blue{
    display: inline-block;
    color:#004FFF;
    background-color: transparent;
    text-align: left;
    width: 110px;
    margin-left: 0px;
    border-radius: 0;
    padding: 10px 0;
}
    .web-content{
    margin-left: 0px;
    margin: 0 5%;
}
        .portfolio .content{
        width: 50%;
            margin: 0;
}
    .modal-content{
        width: 80%;
    }
    .pf-modal:nth-child(8) .modal-content{
    width: 50%;
    height: 60%;
}
    
    
}

@media screen and (max-width:640px){
    .portfolio {
        margin-top: 0px;
    }
            .portfolio .content{
        width: 100%;
}  
    .modal-content{
        width: 90%;
    }
    .pf-modal:nth-child(8) .modal-content{
    width: 70%;
        height: 40%;
}
    
}
