@charset="utf-8";
.top{ 
    width: 1150px;
    float: right;
    padding-bottom: 50px;
    overflow: hidden;
}
/*로고*/
.top-logo{
    margin: auto;
    margin-top: 0px;
    display: inline-block;
    
}
.top-logo img{
    width: 320px;
    position: relative;
    z-index: 100;
    top: -100px;
    left: 91px;
}

#logo2 {
    width: 360px;
    height: 320px;
    left: -252px;
    top: 150px;
    position: relative;
    z-index: 0;
} 
/*텍스트*/
.top .top-txt{
    display: inline-block;
    width: 700px;
    float: right;
    margin-top: -80px;
    
}
.top .top-txt p{
    color: #000;
}
.top .top-txt p:first-child{
	font-family: "YoonMingukR";
    font-size: 20px;
}
.top .top-txt p:last-child{
	font-family: "YoonMingukB";
    font-size: 35px;
    line-height: 1.5;
}
/*/////////////////미디어쿼리////////////////*/
@media screen and (max-width:1420px){
        .top{ 
    width: 83%;
}
}
@media screen and (max-width:1280px){
    .top{ 
    width: 100%;
    float: inherit;
}
    .top-logo{
    display: block;
        text-align: center;
    margin-top: 50px;
}
    .top-logo img{
    margin: auto;
    display: block;
    position: inherit;
    width: 250px;
}
    #logo2 {
    position: inherit;
        width: 281px;
        margin-top: -190px;
} 
    .top .top-txt{
        margin: auto;
    width: 100%;
    float: left;
        text-align: center;
    margin-top: -30px;
}
.top .top-txt p:first-child{
	font-family: "YoonMingukR";
    font-size: 15px;
}
.top .top-txt p:last-child{
	font-family: "YoonMingukB";
    font-size: 30px;
    line-height: 1.5;
}
}
@media screen and (max-width:640px){
        .top{ 
            width: 100%;
            margin-top: 150px;
            overflow: hidden;
}
        .top .top-txt{
        margin: auto;
    width: 100%;
    float: left;
        text-align: center;
    margin-top: -30px;
}
}